[submodule "csrc/cutlass"]
	path = csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "flashinfer-bench-starter-kit"]
	path = flashinfer-bench-starter-kit
	url = https://github.com/flashinfer-ai/flashinfer-bench-starter-kit.git
[submodule "references/learn-cuda"]
	path = references/learn-cuda
	url = https://github.com/gau-nernst/learn-cuda.git
[submodule "references/cuda-samples"]
	path = references/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples.git
[submodule "references/flash-attention"]
	path = references/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "CuTeDSL-kernels"]
	path = CuTeDSL-kernels
	url = https://github.com/Dao-AILab/quack
[submodule "references/CuTeDSL-kernels"]
	path = references/CuTeDSL-kernels
	url = https://github.com/Dao-AILab/quack
[submodule "competition-dataset"]
	path = competition-dataset
	url = https://huggingface.co/datasets/flashinfer-ai/mlsys26-contest
[submodule "references/CudaForge"]
	path = references/CudaForge
	url = https://github.com/OptimAI-Lab/CudaForge
[submodule "flashinfer-bench"]
	path = flashinfer-bench
	url = https://github.com/flashinfer-ai/flashinfer-bench.git
[submodule "tools/pygpubench"]
	path = tools/pygpubench
	url = https://github.com/AndreSlavescu/pygpubench.git
